# Archivos personales y temporales de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.slnLaunch.user

# Archivos generados al compilar
**/bin/
**/obj/

# Registros generados por Serilog
**/Logs/